<div class="hnItem-loading spinner" ng-if="!item.data">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<header>
  <a class="hnItem-title" ng-href="{{item.data.url}}">{{item.data.title}}</a>
  <span class="comhead" ng-show="item.data.url">({{item.data.url | domain}})</span>
</header>
<aside ng-hide="!item.data">
  <span>{{item.data.score}} points</span> by
  <a ng-href="https://news.ycombinator.com/user?id={{item.data.by}}">{{item.data.by}}</a>
  <span am-time-ago="item.data.time * 1000"></span> |
  <a ui-sref="item({itemId: item.data.id})">comments</a>
</aside>
