<div class="userDetail">
  <p>user: {{user.data.id}}</p>
  <p>created: <span am-time-ago="user.data.created * 1000"></span></p>
  <p>karma:  {{user.data.karma}}</p>
  <p>about:  <span ng-bind-html="user.data.about"></span></p>

  <p>
    <a class="u-pointer" ng-click="showSubmissions = !showSubmissions"><u>show submitted stories and comments</u></a>
    <div ng-if="showSubmissions">
      <paginate-control page="user.currentPage" page-size="user.pageSize" total-items="user.data.submitted.length"></paginate-control>
      <div class="itemDetail-item" ng-repeat="itemId in user.data.submitted | page:user.currentPage:user.pageSize">
        <hn-item item-id="itemId" load-children="false"></hn-item>
      </div>
      <paginate-control page="user.currentPage" page-size="user.pageSize" total-items="user.data.submitted.length"></paginate-control>
    </div>
  </p>

  <p>
    <a ng-href="https://news.ycombinator.com/submitted?id={{user.data.id}}"><u>submissions</u></a>
    <a ng-href="https://news.ycombinator.com/threads?id={{user.data.id}}"><u>comments</u></a>
  </p>
</div>